{% extends "base.html" %}
{% block title %}New Paste{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="{{ url_for('create') }}" id="paste" method="post">
	<div>
		<input name="name" placeholder="Enter a name..." type="text">
	</div>
	<div>
		<label for="lang">Programming Language:</label>
		<select name="lang" id="lang">
			{% for lang in langs %}
				{% if lang == "none" %}
					<option value="{{ lang }}" selected>{{ lang }}</option>
				{% else %}
					<option value="{{ lang }}">{{ lang }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	<div>
		<textarea autofocus cols=160 form="paste" maxlength=131072 name="value" placeholder="Enter something..." required rows=48></textarea>
	</div>
	<div>
		<input type="submit" value="Save">
	</div>
</form>
{% endblock %}
